*.pyc
*.png
*.pkl
*.pyc
*.pyc
ZeroPosition.txt
*.pyc
.pylint.d/main1.stats
*.stats
Parameters.txt
plotting_parameters.txt
*.pyc
*.pyc
*.txt
*.pyc
*.pyc
*.pyc
Windows/__pycache__/MainWindow.cpython-37.pyc
Windows/UIs/__pycache__/MainWindowUI.cpython-37.pyc
Windows/__pycache__/MainWindow.cpython-37.pyc
*.pyc
plotting_parameters.txt
*.pyc
